@import '../../../../styles/variables';

.container {
   display: flex;
   justify-content: center;

    .table {
        width: 70%;
        border-collapse: collapse;
        margin: 1.2rem 0;
        font-size: 0.9rem;

        thead {
            background-color: $color-primary;
            color: $color-secondary;
            font-weight: bold;

            th {
                padding: 0.8rem;
            }
        }

        tbody {
      
            tr:hover {
                background-color: $color-table-hover;
            }

            td {
                padding: 1rem;
                border-bottom: 0.1rem solid $color-border;
            }
        }

    }
}