@import '../../../styles/variables';
@import '../../../styles/mixins.scss';

.container {
    width: 80%; 
    margin: 0 auto;

    .containerDescription{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        padding: 1rem;
    }

    .containerBanner {
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        .banner {
            flex: 0 1 29%;
            @include border-radius(0.5rem);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
            padding: 2rem 1.5rem 4rem;
            margin: 1rem; 

            .img {
                @include border-radius(0.5rem);
                width: 100%; 
            }
        }
    }
}
